body {
  min-width: 230px;
  min-height: 200px;
}

#heading {
  background: black;
  width: 70%;
  border-radius: 20px;
}

#context {
  background: #34495e;
  padding: 3%;
  color: white;
}

#disclaimer {
  color: tomato
}